@import "tailwindcss";

@plugin 'tailwindcss-animate';

:root {
  --background: #F9FAFB;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50:  #FFFBEA;
  --color-primary-100: #FEF3C6;
  --color-primary-200: #FDE585;
  --color-primary-300: #FFD22F;
  --color-primary-400: #FFB900;
  --color-primary-500: #F59D0E;
  --color-primary-600: #E17100;
  --color-primary-700: #BA4C00;
  --color-primary-800: #963B00;
  --color-primary-900: #7A3206;
  --color-primary-950: #451901;

  --color-secondary-50:  #FAFBFC;
  --color-secondary-100: #F0F1F3;
  --color-secondary-200: #E1E1E1;
  --color-secondary-300: #DADCE2;
  --color-secondary-400: #AAB0B7;
  --color-secondary-500: #9DA4B2;
  --color-secondary-600: #677289;
  --color-secondary-700: #5C616F;
  --color-secondary-800: #474D58;
  --color-secondary-900: #333742;
  --color-secondary-950: #1A1A1A;

  --color-blue-600: #2F72E2;

  --color-red-500: #EF494F;

  --tracking-tightest: -0.015em;

  --shadow-sm: 00 1px 1px rgba(0, 0, 0, 0.02), 0 1px 3px rgba(0, 0, 0, 0.04);
}

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    border-color: var(--color-secondary-200);
  }

  .custom-divider {
    background-image: repeating-linear-gradient(to right, #d1d5db 0 3.3px, transparent 3.3px 6.6px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
